* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

p,
a,
ul,
li {
	font-size: 1.25rem !important;
}

#canvas-container {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
